.DS_Store
*.pyc
*.pyo
*.swp
*.pid
my_config.py
static/avatar/*
static/js/closure-library/*
static/css/desktop/all_min.css
static/css/desktop/tmp/*
static/css/v2/c/*
static/js/v2/c/*
templates/desktop/c/*
static/js/all_min.js
dump.rdb
.project
.tmp_*
local_run.py
eggs/*
*.o
*.so
*.egg-info
build
tags
_zhihu_log
.hg
*.wpr
*.log
lib/wtforms-recaptcha-0.1.0
zhihu_live8*.py
local_settings.py
local_*config.py
.installed.cfg
bin/
develop-eggs/
parts/
lib/*/dist
lib/tornado
lib/yui3
supervisord.conf
.vimrc
var/
.coverage
base_config.py
docs/_build/
/static/js/v2/main.js
log/*
etc/redis.supervisor
static/css/v2/parse.app/Contents/Info.plist
static/css/v2/parse.app/Contents/MacOS/Python
static/css/v2/parse.app/Contents/MacOS/parse
static/css/v2/parse.app/Contents/PkgInfo
static/css/v2/parse.app/Contents/Resources/PythonApplet.icns
static/css/v2/parse.app/Contents/Resources/__argvemulator_parse.py
static/css/v2/parse.app/Contents/Resources/parse.py
