<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>App Console</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" media="screen" href="/static/css/dev.css" />
</head>

<body>
  <div id="container">
    <div id="header">
      <div id="logo">
        <a href="javascript:;">dev@zhihu</a>
      </div>
      <div id="controls">
      </div>
    </div>

    <div id="announcements" style="display: none">
    </div>

    <div id="content">
      <div class="row clearfix">
        <div class="box title heading">
          <img class="clouds" src="/static/img/clouds.png">
          <h1>Console</h1>
        </div>
        <div class="box subheading">

        </div>

        <div class="row clearfix t-100 box total status-monitor">
          <div class="inner-page">
            <p>Explore the API on your own machine</p>
            <div style="padding:5px;">
              <iframe width="100%" height="600px" src="//127.0.0.1:8888/api/tool"></iframe>
            </div>
          </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</body>
</html>
